.back-to-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 3rem;
  width: 70px;
  height: 40px;
  font-weight: 800;
  border-radius: 100rem;
  background: rgb(7 5 22 / 70%);
  color: #fdfdfd;
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 2px #ccc;
  z-index: 999;
}

.back-to-top:hover {
  background: rgb(9, 8, 44);
  transition: all 0.5s;
  box-shadow: 0 2px 6px #ccc;
}
