.wrap-room {
  // height: 20rem;
  overflow-y: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 33px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  & a:hover {
    color: brown;
  }
}

.wrap-room::-webkit-scrollbar {
  width: 5px;
  padding: 2px;
}

/* Track */
.wrap-room::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.wrap-room::-webkit-scrollbar-thumb {
  background: rgb(128, 127, 127);
}

/* Handle on hover */
.wrap-room::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 41, 41);
}
