@use "../../scss/video-react.scss" as *;
.playlist-title {
  width: 90%;
  overflow: hidden;
  display: -webkit-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  &:hover {
    color: #fff;
  }
  // &::after {
  //   display: inline-block;
  //   margin-left: 0.255em;
  //   vertical-align: 0.255em;
  //   content: "";
  //   border-top: 0.3em solid;
  //   border-right: 0.3em solid transparent;
  //   border-bottom: 0;
  //   border-left: 0.3em solid transparent;
  // }
}

.wrap-player {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/footer-bg.jpg");
}

.warp-view ul,
li {
  list-style: none !important;
}

.tab-content {
  overflow-x: hidden;
  overflow-y: auto;
  // height: 40rem;
}

.tab-content::-webkit-scrollbar {
  width: 5px;
  padding: 2px;
}

/* Track */
.tab-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.tab-content::-webkit-scrollbar-thumb {
  background: rgb(128, 127, 127);
}

/* Handle on hover */
.tab-content::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 41, 41);
}

.btn-send {
  position: absolute;
  right: 20px;
  bottom: 12px;
}

.content-chat {
  height: 35rem;
}
.wrap-playlist img,
.chat-other-user img,
.chat-current-user img {
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
}

.chat-current-user {
  align-self: flex-end;
  flex-direction: row-reverse;
  & > * {
    display: flex;
    flex-direction: row-reverse;
  }
  p {
    padding: 0.7rem 0.7rem;
    background-color: rgb(139, 106, 68);
    border-radius: 10px 5px 10px 5px;
  }
}

.chat-other-user {
  align-self: flex-start;
  align-items: center;
  p {
    padding: 0.7rem 0.7rem;
    background-color: rgb(139, 106, 68);
    border-radius: 5px 10px 5px 10px;
  }
}
.modal-add-movie {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  width: 50%;
  span,
  small {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.wrap-add-playlist img {
  width: 4rem;
  height: 4rem;
  @include mobile {
    display: none;
  }
}

#controlled-tab-example-tab-playlist,
#controlled-tab-example-tab-chat,
#controlled-tab-example-tab-viewers {
  font-size: 2rem;
  padding: 1rem 5rem;
}
.wrap-tab {
  background-color: rgb(31, 30, 30);
  svg {
    color: chocolate;
  }
}

.nav-tabs .active {
  border-right: 1px;
  background-color: rgb(228, 194, 150) !important;
}

.nav-tabs .nav-link:hover {
  border-right: 1px;
  background-color: rgb(247, 240, 232);
}
