@use "../../scss/video-react.scss" as *;

// @import "../../";

.banner {
  height: 50vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
  }
}
.movie-content {
  @include myFlex(flex-start, flex-start);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -260px;
  position: relative;
  padding: 0 1rem;

  &__poster {
    flex: 1;

    @include mobile {
      display: none;
    }

    &__img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: $border-radius;
      padding-top: 140%;
    }
  }

  &__info {
    width: 75%;
    padding-left: 2rem;
    position: relative;

    a:hover {
      color: rgb(197, 153, 7) !important;
    }

    @include mobile {
      width: 100%;
      padding-left: 0;
    }

    & > * {
      margin-bottom: 2rem;
    }

    .title {
      // font-size: 3rem;
      line-height: 1;
    }

    .genres {
      & > * ~ * {
        margin-left: 0.5rem;
      }

      &__item {
        padding: 0.5rem 1.5rem;
        border: 2px solid $white;
        border-radius: $border-radius;
        font-size: 1rem;
        font-weight: 600;
        background-color: $body-bg;
      }
    }
  }
}
.overview {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}
.btn-watch:hover {
  color: $white;
  border-color: transparent;
}
.wrap-player-video {
  // &_watch {
  //   width: 70%;
  // }
  &_cmt {
    background-color: rgba(32, 32, 32, 0.925);
    height: fit-content;
  }
  &_content-cmt {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 300px);
    &::-webkit-scrollbar {
      width: 5px;
      padding: 2px;
    }
    & a:hover {
      color: rgb(197, 153, 7) !important;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(211, 210, 210);
    }
  }
}

.content-user {
  background-color: rgb(23, 27, 27);
  color: bisque;
}
.wrap-episode_item_content {
  margin: 3px;
  padding: 0.7rem 0.7rem;
  background-color: rgb(139, 106, 68);
  border-radius: 5px 10px 5px 10px;
}

.casts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;

  &__item {
    &__img {
      padding-top: 160px;
      background-size: cover;
      margin-bottom: 0.5rem;
    }

    &__name {
      font-size: 0.8rem;
    }
  }
}

.video {
  margin-bottom: 3rem;

  &__title {
    margin-bottom: 1.5rem;
  }
}

.input-wrap {
  &_icon {
    position: absolute;
    left: 16px;
    bottom: 9px;
  }
}
.wrap-episode {
  max-height: calc(100vh - 300px);
  &_item {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 300px);
    align-items: center;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    &::-webkit-scrollbar {
      width: 5px;
      padding: 2px;
    }
    & a:hover {
      color: rgb(197, 153, 7) !important;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgb(211, 210, 210);
    }
    @include mobile {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      font-size: 1rem;
    }
  }
}
